<table class="table table-responsive">
  <thead class="thead-light">
    <tr>
      <th scope="col">Callsign</th>
      <th scope="col">Band</th>
      <th scope="col">Mode</th>
      <th scope="col">Location</th>
      <th scope="col">Output</th>
      <th scope="col">Input</th>
      <th scope="col">Access</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% assign repeaters = site.repeaters | group_by: "location" | sort: "location" %}
    {% for location in repeaters %}
      {% for repeater in location.items | sort: "callsign" %}
        <tr>
          <th scope="row"><a href="/repeaters/{{ repeater.callsign | downcase }}">{{ repeater.callsign }}</a></th>
          <td>{{ repeater.band }}</td>
          <td>{{ repeater.mode }}</td>
          <td>{{ repeater.location }}</td>
          <td>{{ repeater.tx }}</td>
          <td>{{ repeater.rx }}</td>
          <td>{{ repeater.access }}</td>
          <td>{{ repeater.status }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>